@media (min-width: 700px) {
  .dashboard-workout-card {
    gap: 1rem !important;
  }
}
@media (max-width: 1200px) {
  .start-workout-modal-image > svg,
  .start-workout-modal-image > img {
    width: 60%;
  }
}
@media (max-width: 400px) {
  .start-workout-modal-image > svg,
  .start-workout-modal-image > img {
    width: 100%;
  }
  .dashboard-workout-card {
    gap: 0.5rem !important;
  }
}
